**/build/**
**/builddir/**

*.npz
*.pyc
*.deprecated
*.png
*.nc
*.dat
*.ps
*.ai
*.psd
*.mod
*.exe
*.obj
*.u2d
*.htm
*_genmod.f90

# Fortran extensions
*.a
*.ilk
*.exp
*.dll 
*.mod
*.pdb
*.lib
*.exe
*.obj
*.prev 
*.lock 


# Ninja
*.ninja_deps 
*.ninja_log
*.ninja
*.json



__pycache__

*.ipynb
*.pdb
*.suo



build